BOT_TOKEN=
GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
YANDEX_API_KEY=
YANDEX_FOLDER_ID=
YANDEX_BUCKET_NAME=
YANDEX_STATIC_KEY_ID=
YANDEX_STATIC_KEY=
YANDEXGPT_MODEL=yandexgpt
TG_PROXY=
DATABASE_URL=sqlite+aiosqlite:///remont_bot.db
